<div class="dashboard">
  <!-- <aside>
    <p>Aside 1</p>
    <div class="btn-panel"></div>
  </aside> -->
  <section>
    <div class="branding-div flex-container-vertical">
      <label class="branding-label">MultiSequencer, Mark Pippins, angrysurfer.com, 2023</label>
    </div>
    <app-ticker-nav></app-ticker-nav>
  </section>
  <header> <app-status-panel [tickerStatus]="tickerStatus"></app-status-panel></header>
  <!-- <section>
    <app-status-readout [ticker]="ticker" [players]="players" [consoleOutput]="consoleOutput"></app-status-readout>
  </section> -->
  <main class="full-width">
    <mat-tab-group class="full-width">

      <mat-tab label="Beats">
        <mat-tab-group>
          <mat-tab label="Beat Navigator">
            <div class="navigator-container">
              <div class="tables-container">
                <div class="player-table-section">
                  <app-player-table [players]="players" (playerAddedEvent)="onActionSelected('ticker-add')"
                    (playerSelectEvent)="onPlayerSelected($event)"></app-player-table>
                </div>
                <div class="rules-table-section">
                  <app-rule-table (ruleChangeEvent)="onRuleChange($event)" [player]="selectedPlayer"></app-rule-table>
                </div>
              </div>
              <div class="footer-container">
                <app-beat-navigator></app-beat-navigator>
              </div>
            </div>
          </mat-tab>
          <mat-tab label="X0X">
            <div class="stretch">
              <app-beat-spec></app-beat-spec>
            </div>
          </mat-tab>
          <mat-tab label="Controls">
            <app-mini-slider-panel></app-mini-slider-panel>
          </mat-tab>

        </mat-tab-group>
      </mat-tab>

      <mat-tab label="Params">
        <app-slider-panel></app-slider-panel>
      </mat-tab>

      <mat-tab label="Launch">
        <app-launchpad></app-launchpad>
      </mat-tab>

      <mat-tab label="Options">
        <app-device-panel></app-device-panel>
      </mat-tab>

      <mat-tab label="Experimental">
        <mat-tab-group>
          <mat-tab label="drums">
            <app-drum-grid></app-drum-grid>
          </mat-tab>
          <mat-tab label="pads">
            <app-pads-panel></app-pads-panel>
          </mat-tab>
        </mat-tab-group>
      </mat-tab>
    </mat-tab-group>
  </main>
</div>
