<div class="button-bar">
  <button id="set-btn-rewind" mat-button (click)="onClick('set-previous')" tabindex="0">
    <mat-icon>
      fast_rewind
    </mat-icon>
  </button>

  <!-- <button
    id="set-btn-record"
    mat-button
    (click)="onClick('set-record')"
    tabindex="0">
    fiber_manual_record
  </button> -->

  <!-- <button
    id="set-btn-pause"
    mat-button
    (click)="onClick('set-pause')"
    tabindex="0">
    pause
  </button> -->

  <button id="set-btn-stop" mat-button (click)="onClick('ticker-stop')" tabindex="0">
    <mat-icon>
      stop
    </mat-icon>
  </button>

  <div id="set-btn-play" class="neutral">
    <button mat-button (click)="onClick('ticker-play')" tabindex="0">
      <mat-icon>
        play_arrow
      </mat-icon>
    </button>
  </div>

  <button id="set-forward" mat-button (click)="onClick('set-forward')" tabindex="0">
    <mat-icon>
      fast_forward
    </mat-icon>
  </button>

  <button id="set-refresh" mat-button (click)="onClick('set-refresh')" tabindex="0">
    <mat-icon>
      loop
    </mat-icon>
  </button>

  <button id="set-clear" mat-button (click)="onClick('set-clear')" tabindex="0">
    <mat-icon>
      clear_all
    </mat-icon>
  </button>
</div>
