<style>
  body {
    margin: 0;
    padding: 0;
  }

  #launchpad {
    /* margin-top: 10px; */
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    gap: 2px;
    height: 75vh;
    background: linear-gradient(to right bottom, darkgray, coral);
    border: red solid 1px;
  }

  .controls {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  .dark-pad-0 {
    background-color: darkblue;
  }

  .dark-pad-1 {
    background-color: darkorchid;
  }

  .dark-pad-2 {
    background-color: darkcyan;
  }

  .dark-pad-3 {
    background-color: #555;
  }

  .button {
    color: white;
    font-size: 1.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
  }
</style>
<mat-divider [style.height.px]="10"></mat-divider>
<div class="button-bar">
  <button id="launch-btn-rewind" mat-button (click)="onClick(100)" tabindex="0">
    <mat-icon>
      fast_rewind
    </mat-icon>
  </button>

  <div id="launch-btn-play" class="neutral">
    <button mat-button (click)="onClick(102)" tabindex="0">
      <mat-icon>
        play_arrow
      </mat-icon>
    </button>
  </div>

  <button id="launch-forward" mat-button (click)="onClick(101)" tabindex="0">
    <mat-icon>
      fast_forward </mat-icon>
  </button>

  <button id="launch-clear" mat-button (click)="onClick(104)" tabindex="0">
    <mat-icon>
      clear_all
    </mat-icon>
  </button>
</div>

<div id="launchpad">
  <div class="controls" id="control2">
    <button *ngFor="let note of clips" class="button dark-pad-0" (click)="onClick(note)" id="btn-{{note}}"></button>
  </div>

  <div class="controls" id="control2">
    <button *ngFor="let note of clips" class="button dark-pad-1" (click)="onClick(note)" id="btn-{{note}}"></button>
  </div>

  <div class="controls" id="control2">
    <button *ngFor="let note of clips" class="button dark-pad-2" (click)="onClick(note)" id="btn-{{note}}"></button>
  </div>

  <div class="controls" id="control2">
    <button *ngFor="let note of clips" class="button dark-pad-3" (click)="onClick(note)" id="btn-{{note}}"></button>
  </div>

</div>
