<button class="{{getPadClass()}}" id="pad-{{index}}" tabindex="0" (click)="padPressed()">
  <div class="{{getPadRingClass()}}" id="pad-ring-{{index}}">
    <div class="pad-indicator" id="pad-indicator-left-{{index}}">
      <div class="{{getIndicatorClass(0)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(1)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(2)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(7)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="pad-indicator-text">{{caption}}</div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(3)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(6)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(5)}}"></div>
    </div>
    <div class="pad-indicator" id="pad-indicator-center-{{index}}">
      <div class="{{getIndicatorClass(4)}}"></div>
    </div>
  </div>
</button>
