<!-- {{controlCode.name}} -->
<div class="stretch" [style.height.px]="300">
  <table class="table-header">
    <tr class="header-row">
      <th class="header-cell">Value</th>
      <th class="header-cell">Caption</th>
    </tr>
    <tr class="table-row" *ngFor="let caption of controlCode?.captions;">
      <td class="table-row">
        <select [style.width.px]="20" [disabled]="true" value="{{caption.code}}">
          <option *ngFor="let code of getCaptionCodes()" value="{{caption.code}}">{{caption.description}}</option>
        </select>
      </td>
      <td class="table-row">
        <input [style.width.px]="160" value="{{caption.description}}">
      </td>
    </tr>
  </table>
</div>
