<div class={{containerClass}}>
  <button *ngIf="position > colCount" class="mini-btn {{controlBtnClassName}}" (click)="onBackClicked()">🠜</button>
  <div class="flex-container-horizontal">
    <button *ngFor="let symbol of range; let sym = index" id="{{getButtonId(sym, false)}}"
      [ngClass]=" indicators != undefined && indicators[sym] ? 'fire2 ' + symbolBtnClassName : 'fire ' + symbolBtnClassName"
      (click)="onSymbolClick(sym, $event)">{{symbol}}</button>
    <button class="mini-btn {{overageBtnClassName}}" *ngFor="let o of overage; let ov = index"
      id="{{getButtonId(ov, true)}}">{{o}}</button>
    <button class="mini-nav-btn custom-control {{symbolBtnClassName}}"
      *ngFor="let control of visibleCustomControls; let ctrl = index" id="{{getButtonId(ctrl, false)}}"
      (click)="onCommandClick(ctrl, $event)">{{control}}</button>
  </div>
  <button *ngIf="symbols.length > range.length" class="mini-btn {{controlBtnClassName}}"
    (click)="onForwardClicked()">🠞</button>
  <button *ngIf="overage.length > 0 && symbols.length > colCount" class="mini-btn {{overageBtnClassName}}">🠞</button>
</div>
