<div class="transport-buttons">
  <button
    id="ticker-previous"
    mat-button
    (click)="onClick('previous')"
    tabindex="0">
    fast_rewind
  </button>

  <button
    id="transport-btn-record"
    mat-button
    (click)="onClick('record')"
    tabindex="0">
    fiber_manual_record
  </button>

  <button
    id="transport-btn-pause"
    mat-button
    (click)="onClick('pause')"
    tabindex="0">
    pause
  </button>

  <button
    id="transport-btn-stop"
    mat-button
    (click)="onClick('stop')"
    tabindex="0">
    stop
  </button>

  <div id="transport-btn-play" class="neutral">
    <button
      mat-button
      (click)="onClick('play')"
      tabindex="0">
      play_arrow
    </button>
  </div>

  <button
    id="transport-btn-forward"
    mat-button
    (click)="onClick('forward')"
    tabindex="0">
    fast_forward
  </button>

  <button
    id="transport-btn-refresh"
    mat-button
    (click)="onClick('refresh')"
    tabindex="0">
    loop
  </button>

  <button
    id="transport-btn-snap"
    mat-button
    (click)="onClick('save')"
    tabindex="0">
    camera_alt
  </button>

  <button
    id="transport-btn-add"
    mat-button
    (click)="onClick('add')"
    tabindex="0">
    add
  </button>

  <button
    id="transport-btn-clear"
    mat-button
    (click)="onClick('clear')"
    tabindex="0">
    clear_all
  </button>
</div>
