<tr class="active-table-row" id="player-row-{{player.id}}"
(mouseenter)="onPass(player, $event)"
(click)="onRowClick(player, $event)">

<td class="shortest-col" id="player-col-id-{{player.id}}">
{{ player.id }}
</td>
<td class="shortest-col" id="player-col-id-{{player.id}}">
{{ player.instrumentId }}
</td>
<td class="shortest-col" id="player-col-instrument-id-{{player.id}}">
{{ player.channel }}
</td>
<td class="selected-long-col" id="player-col-instrument-{{player.id}}">

  <!-- <app-instrument-selector (instrumentSelectEvent)="onInstrumentSelected($event, player)" [player]="player"></app-instrument-selector> -->

</td>
<td class="shortest-col" id="player-col-preset-{{player.id}}">
<input type="number" min="1" max="127" step="1" value="{{ player.preset}}">
</td>
<td class="shortest-col" (change)="onNoteChange(player, $event)">
<input type="number" min="1" max="127" step="1" value="{{ player.note }}">
</td>
<td class="shortest-col">
<input type="number" min="0" max="100" step="1" value="{{ player.probability }}">
</td>
<td class="shortest-col">
<input type="number" min="1" max="127" step="1" value="{{ player.minVelocity }}">
</td>
<td class="shortest-col">
<input type="number" min="1" max="127" step="1" value="{{ player.maxVelocity }}">
</td>
<td>
<button [style.height.px]="20" id="add" (click)="onBtnClick(player, 'ticker-add')">
  <!--          add-->
  +
</button>
</td>
<td>
<button [style.height.px]="20" id="remove" (click)="onBtnClick(player, 'ticker-remove')">
  -
  <!--          remove-->
</button>
</td>
<td>
<button [style.height.px]="20" id="mute" (click)="onBtnClick(player, 'player-mute')">
  <!--          mute-->
  M
</button>
</td>
</tr>
<tr *ngIf="player == undefined || player.id == 0">
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>
<td>
<button [style.height.px]="20" id="add2" (click)="initBtnClicked()">
  <!--          add-->
  +
</button>
</td>
<td class="shortest-col"></td>
<td class="shortest-col"></td>


</tr>
