<div class="lane-808">
  <!-- <div *ngIf="step.active" id="beat-btn-{{step.position}}" class="btn-active onbeat">
    <button (click)="onLaneBtnClick()">
      {{step.position}}
    </button>
  </div>
  <div *ngIf="!step.active" id="beat-btn-{{step.position}}" class="btn-inactive">
    <button (click)="onLaneBtnClick()">
      {{step.position + 1}}
    </button>
  </div> -->
  <!--  <label>Pitch</label>-->
  <div>
    <!-- <select class="short-col" type="string" (change)="onNoteChange(step, $event)" [(ngModel)]="step.pitch">
      <option *ngFor="let pitch of pitchMap" [value]="pitch.midi">
        {{pitch.note}}
      </option>
    </select> -->
  </div>
  <div class="flex-container-vertical">

    <p-knob (onChange)="onNoteChange($event)" value="step.pitch" [(ngModel)]="step.pitch" [min]="getMinValue('pitch')" [max]="getMaxValue('pitch')"
      [size]="38" [size]="38" [strokeWidth]="getStrokeWidth()" [styleClass]="getStyleClass()"
      [rangeColor]=" getRangeColor()" [textColor]="getTextColor()" [valueColor]="getValueColor(1)"
      [valueTemplate]="getValueTemplate('pitch')" [step]="1"></p-knob>

    <p-knob [(ngModel)]="step.velocity" type="range" [min]="getMinValue('velocity')" [max]="getMaxValue('velocity')" [size]="38"
      [strokeWidth]="getStrokeWidth()" [styleClass]="getStyleClass()" [rangeColor]=" getRangeColor()"
      [textColor]="getTextColor()" [valueColor]="getValueColor(2)" [valueTemplate]="getValueTemplate('Vel')"
      (change)="onVelocityChange(step, $event)" [step]="1"></p-knob>

    <p-knob [(ngModel)]="step.gate" type="range" [min]="getMinValue('gate')" [max]="getMaxValue('gate')" [size]="38"
      [strokeWidth]="getStrokeWidth()" [styleClass]="getStyleClass()" [rangeColor]=" getRangeColor()"
      [textColor]="getTextColor()" [valueColor]="getValueColor(3)" [valueTemplate]="getValueTemplate('Gate')"
      (onChange)="onGateChange(step, $event)" [size]="38" [step]="1"></p-knob>

    <p-knob [(ngModel)]="step.probability" type="range" [min]="getMinValue('probability')" [max]="getMaxValue('probability')" [size]="38"
      [strokeWidth]="getStrokeWidth()" [styleClass]="getStyleClass()" [rangeColor]=" getRangeColor()"
      [textColor]="getTextColor()" [valueColor]="getValueColor(4)" [valueTemplate]="getValueTemplate('Prob')"
      (onChange)="onProbabilityChange(step, $event)" [size]="38" [step]="1"></p-knob>
  </div>
  <app-drum-pad [swirling]="swirling" [active]="active" [pressed]="step.active" [caption]="getCaption()"
    (padPressedEvent)="onPadPressed($event)" [index]="step.position"></app-drum-pad>
</div>
<!-- <div>
    <input [(ngModel)]="step.velocity" type="range" min="0" max="127" value=1 class=""
      (change)="onVelocityChange(step, $event)">
  </div>
  <div>
    <input [(ngModel)]="step.probability" type="range" min="0" max="100" value=1 class=""
      (change)="onProbabilityChange(step, $event)">
    <div>
      <input [(ngModel)]="step.gate" type="range" min="0" max="100" value=1 class=""
        (change)="onGateChange(step, $event)">
        <p-knob [size]="10" [strokeWidth]="3" [step]="1"></p-knob>

    </div> -->

<!-- <div [ngClass]=" flag ? 'primary mini-btn' : 'secondary mini-btn'" *ngIf="active == true"
    (click)="onParamsBtnClick()">Δ
  </div> -->
<!-- <input class="" type="number" min="1" max="127" (change)="onVelocityChange(step, $event)"
      [(ngModel)]="step.velocity"> -->
<!-- <input class="" type="number" min="0" max="100" (change)="onProbabilityChange(step, $event)"
      [(ngModel)]="step.probability">
  </div> -->

<!-- <input class="" type="number" min="0" max="100" (change)="onGateChange(step, $event)" [(ngModel)]="step.gate"> -->
