<div class="button-bar">
  <div id="ticker-previous" class="{{getButtonClass('ticker-previous')}}">
    <button id="ticker-previous" mat-button (click)="onClick('ticker-previous')" tabindex="0">
      <mat-icon>
        fast_rewind
      </mat-icon>
    </button>
  </div>

  <div id="ticker-record" class="{{getButtonClass('ticker-record')}}">
    <button id="ticker-record" mat-button (click)="onClick('ticker-record')" tabindex="0">
      <mat-icon>
        fiber_manual_record
      </mat-icon>
    </button>
  </div>

  <div id="ticker-pause" class="{{getButtonClass('ticker-pause')}}">
    <button id="transport-btn-pause" mat-button (click)="onClick('ticker-pause')" tabindex="0">
      <mat-icon>
        pause
      </mat-icon>
    </button>
  </div>


  <div id="transport-btn-play" class="{{getButtonClass('transport-btn-play')}}">
    <button id="transport-btn-stop" mat-button (click)="onClick('ticker-stop')" tabindex="0">
      <mat-icon>
        stop
      </mat-icon>
    </button>
  </div>

  <div id="transport-btn-play" class="{{getButtonClass('transport-btn-play')}}">
    <button mat-button (click)="onClick('ticker-play')" tabindex="0">
      <mat-icon>
        play_arrow
      </mat-icon>
    </button>
  </div>

  <div id="transport-btn-play" class="{{getButtonClass('transport-btn-play')}}">
    <button id="transport-btn-forward" mat-button (click)="onClick('ticker-forward')" tabindex="0">
      <mat-icon>
        fast_forward
      </mat-icon>
    </button>
  </div>
  <div class="button-bar">
    <!-- <button
    id="transport-btn-refresh"
    mat-button
    (click)="onClick('ticker-refresh')"
    tabindex="0">
    loop
  </button>

  <button
    id="transport-btn-snap"
    mat-button
    (click)="onClick('ticker-save')"
    tabindex="0">
    camera_alt
  </button> -->

    <button id="transport-btn-add" mat-button (click)="onClick('ticker-transpose-up')" tabindex="0">
      <mat-icon>
        add
      </mat-icon>
    </button>

    <button id="transport-btn-remove" mat-button (click)="onClick('ticker-transpose-down')" tabindex="0">
      <mat-icon>
        remove </mat-icon>

    </button>
    <!-- <app-slider></app-slider>
  <app-slider></app-slider> -->
    <!-- <button
    id="transport-btn-clear"
    mat-button
    (click)="onClick('ticker-clear')"
    tabindex="0">
    clear_all
  </button> -->
  </div>
