<div class="table-container">
  <div class="button-bar">
    <button id="transport-btn-add" mat-button (click)="onClick('ticker-add')" tabindex="0" >
      ➕
    </button>
    <button id="transport-btn-remove" mat-button (click)="onClick('ticker-remove')" tabindex="0">
      ➖
    </button>
    <button id="transport-btn-clear" mat-button (click)="onClick('ticker-clear')" tabindex="0">
      🧹
    </button>
    <button id="transport-btn-refresh" mat-button (click)="onClick('ticker-refresh')" tabindex="0">
      ♻️
    </button>
    <button id="transport-btn-snap" mat-button (click)="onClick('ticker-save')" tabindex="0">
      📸
    </button>
  </div>
  <div class="table-wrapper">
    <table *ngIf="players != undefined" id="player-table">
      <tr>
        <!-- <th></th>
        <th></th>
        <th></th> -->
        <th class="table-header" *ngFor="let col of playerCols">
          <div>{{ col }}</div>
        </th>
      </tr>

      <tr *ngFor="let player of players; let index = index;" [ngClass]="getRowClass(player)" id="player-row-{{player.id}}"
        (mouseenter)="onPass(player)" (click)="onRowClick(player)">


        <td class="selected-long-col" id="player-col-instrument-{{player.id}}">
          <app-instrument-selector (instrumentSelectEvent)="onInstrumentSelected($event, player)"
            [instruments]="instruments" [player]="player"></app-instrument-selector>
        </td>
        <td class="input-col" id="player-col-channel-{{player.id}}" (change)="onChannelChange(player, $event)">
          <input type="number" min="0" max="16" step="1" value="{{ player.channel }}">
        </td>
        <td class="input-col" id="player-col-preset-{{player.id}}" (change)="onPresetChange(player, $event)">
          <input type="number" min="0" step="1" value="{{ player.preset }}">
        </td>
        <td>
          <button [style.height.px]="20" id="audition" (click)="onBtnClick(player, 'ticker-audition')">
            P
          </button>
        </td>
        <td class="shortest-col" (change)="onNoteChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.note }}">
        </td>
        <td>
          <button ngClass="{{player.solo ? 'awake' : 'sandy' }}" [style.height.px]="20" id="player-solo-{{player.id}}"
            (click)="onBtnClick(player, 'player-solo')">
            {{player.solo ? 'U' : 'S'}}
          </button>
        </td>
        <td>
          <button ngClass="{{player.muted ? 'muted' : 'unmuted' }}" [style.height.px]="20" id="player-mute-{{player.id}}"
            (click)="onBtnClick(player, 'player-mute')">
            {{player.muted ? 'U' : 'M'}}
          </button>
        </td>
        <td class="shortest-col" (change)="onBeatFractionChange(player, $event)">
          <input type="number" min="1" max="{{ player.subDivisions }}" step="1" value="{{ player.beatFraction }}">
        </td>
        <td class="shortest-col" (change)="onSubsChange(player, $event)">
          <input type="number" min="1" max="16" step="1" value="{{ player.subDivisions }}">
        </td>
        <td class="shortest-col" (change)="onSkipsChange(player, $event)">
          <input type="number" min="1" max="100" step="1" value="{{ player.skips }}">
        </td>
        <td class="shortest-col" (change)="onSwingChange(player, $event)">
          <input type="number" min="0" max="100" step="1" value="{{ player.swing }}">
        </td>
        <td class="shortest-col" (change)="onProbabilityChange(player, $event)">
          <input type="number" min="0" max="100" step="1" value="{{ player.probability }}">
        </td>
        <td class="shortest-col" (change)="onRandomDegreeChange(player, $event)">
          <input type="number" min="0" max="100" step="1" value="{{ player.randomDegree }}">
        </td>
        <td class="shortest-col" (change)="onLevelChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.level }}">
        </td>
        <td class="shortest-col" (change)="onMinVelocityChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.minVelocity }}">
        </td>
        <td class="shortest-col" (change)="onMaxVelocityChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.maxVelocity }}">
        </td>
        <td class="shortest-col" (change)="onRatchetCountChange(player, $event)">
          <input type="number" min="0" max="126" step="1" value="{{ player.ratchetCount }}">
        </td>
        <td class="shortest-col" (change)="onRatchetIntervalChange(player, $event)">
          <input type="number" min="1" max="16" step="1" value="{{ player.ratchetInterval }}">
        </td>
        <td class="shortest-col" (change)="onFadeInChange(player, $event)">
          <input type="number" min="0" max="126" step="1" value="{{ player.fadeIn }}">
        </td>
        <td class="shortest-col" (change)="onFadeOutChange(player, $event)">
          <input type="number" min="1" max="16" step="1" value="{{ player.fadeOut }}">
        </td>
      </tr>
      <tr *ngIf="players == undefined || players.length == 0">
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
        <td class="shortest-col"></td>
      </tr>
    </table>
  </div>
</div>
