<div class="stretch">
  <table>
    <thead>
      <tr class="header-row">
        <th class="header-cell col-name">Name</th>
        <th class="header-cell col-desc">Description</th>
        <th class="header-cell col-vendor">Vendor</th>
        <th class="header-cell col-version">Version</th>
        <th class="header-cell col-number">Max R</th>
        <th class="header-cell col-number">Max T</th>
        <th class="header-cell col-number">Receivers</th>
        <th class="header-cell col-number">Transmitters</th>
        <th class="header-cell col-long">Receiver</th>
        <th class="header-cell col-long">Transmitter</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let device of devices;">
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.name}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.description}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.vendor}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.version}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.maxReceivers}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.maxTransmitters}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.receivers}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{device.transmitters}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{shortenedName(device.receiver)}}</td>
        <td [ngClass]="getRowClass(device)" class="readonly-cell">{{shortenedName(device.transmitter)}}</td>
      </tr>
    </tbody>
  </table>
</div>
