<div class="flex-container-vertical">
  <div class="status-readout">
    <label class="status-label">Ticker:</label>
    <label *ngIf="ticker != undefined" class="status-output">{{ticker.id}}</label> |
    <label class="status-label">Players:</label>
    <label *ngIf="players != undefined" class="status-output">{{players.length}}</label>
    <!-- <label class="status-label">Offset:</label>
    <label *ngIf="ticker != undefined" class="status-output">{{ticker.noteOffset}}</label>    | -->
    <!-- <div class="flex-container-horizontal">
      <div class="flex-container-vertical">
        <app-slider></app-slider>
        <app-slider></app-slider>
        <app-slider></app-slider>
        <app-slider></app-slider>
      </div>
      <div class="flex-container-vertical">
        <app-slider></app-slider>
        <app-slider></app-slider>
        <app-slider></app-slider>
        <app-slider></app-slider>
      </div>
      <div class="flex-container-vertical">
        <app-slider></app-slider>
        <app-slider></app-slider>
        <app-slider></app-slider>
        <app-slider></app-slider>
      </div>
    </div> -->
    <label class="status-label" *ngFor="let line of consoleOutput">{{line}}</label>
  </div>
</div>
