<table id="player-table">
  <tr>
    <th>Player</th>
    <th>Class</th>
    <th>Level</th>
    <!-- <th>Min Velocity</th>
        <th>Max Velocity</th> -->
  </tr>
  <tr *ngIf="player != undefined">
    <td class="player-long-col" (change)="onLevelChange(player, $event)">
      <input value="{{ player.name }}">
    </td>
    <td class="shortest-col" (change)="onLevelChange(player, $event)">
      <input value="{{ player.playerClass }}">
    </td>
    <td class="shortest-col" (change)="onLevelChange(player, $event)">
      <input type="number" min="1" max="127" step="1" value="{{ player.level }}">
    </td>
    <!-- <td class="shortest-col" (change)="onMinVelocityChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.minVelocity }}">
        </td>
        <td class="shortest-col" (change)="onMaxVelocityChange(player, $event)">
          <input type="number" min="1" max="127" step="1" value="{{ player.maxVelocity }}">
        </td> -->
  </tr>
</table>
