<div class="selector-row">
<!--  <p>Channel</p>-->
  <!--  <mat-form-field appearance="outline" [style.width.px]="60">-->
  <!--    <mat-select (selectionChange)="onSelect($event, $event.value)" [(ngModel)]="channel">-->
  <!--      <mat-option *ngFor="let ch of midiChannels" [value]="ch">-->
  <!--        {{ ch }}-->
  <!--      </mat-option>-->
  <!--    </mat-select>-->
  <!--  </mat-form-field>-->

  <form>
    <select id="channelSelect" [value]="channel" (change)="selectionChange($event)">
      <option *ngFor="let ch of midiChannels" [value]="ch">{{ch}}</option>
    </select>
  </form>

  <b *ngIf="instrument != undefined">{{ instrument.name }}</b>
  <b *ngIf="instrument == undefined"></b>
</div>
