<div class="beat-spec-detail">
  <table>
    <tr>
      <th *ngFor="let col of columns"> {{col}} </th>
    </tr>
    <tr>

      <td>
        <!-- LINK BUTTON -->
        <button ngClass="{{pattern.loop ? 'mini-btn loop' : 'mini-btn ready' }}" [style.height.px]="20"
          id="pattern-link-{{pattern.id}}" (click)="onLinkChange()" disabled="true">
          Li
        </button>
      </td>

      <td>
        <button ngClass="{{pattern.loop ? 'mini-btn loop' : 'mini-btn ready' }}" [style.height.px]="20"
          id="pattern-loop-{{pattern.id}}" (click)="onLoopChange()">
          {{pattern.loop ? 'L' : 'L'}}
        </button>
      </td>

      <td>
        <button ngClass="{{pattern.muted ? 'muted' : 'unmuted' }}" [style.height.px]="20"
          id="pattern-mute-{{pattern.id}}" (click)="onMuteChange()">
          {{pattern.muted ? 'U' : 'M'}}
        </button>
      </td>

      <!-- <td>
        <button ngClass="{{pattern.muted ? 'muted' : 'unmuted' }}" [style.height.px]="20"
          id="pattern-mute-{{pattern.id}}" (click)="onMuteChange()">
          {{pattern.muted ? 'U' : 'S'}}
        </button>
      </td> -->

      <td>
        <!-- <input class="short-col" type="checkbox" (change)="onQuantizeChange()" [(ngModel)]="pattern.quantize"> -->
        <button ngClass="{{pattern.loop ? 'mini-btn loop' : 'mini-btn ready' }}" [style.height.px]="20"
          id="pattern-quantize-{{pattern.id}}" (click)="onQuantizeChange()">
          {{pattern.quantize ? 'Q' : 'Q'}}
        </button>
      </td>

      <!-- (change)="onSwingChange(player, $event)" -->
      <td class="short-col">
        <input type="number" min="0" max="100" step="1" value="{{ songId }}">
      </td>
      <td class="short-col">
        <input type="number" min="0" max="100" step="1" value="{{ pattern.id }}">
      </td>
      <td>
        <div class="distinct">
          <app-midin-instrument-combo [instruments]="instruments" [identifier]="identifier"
            (instrumentSelectEvent)="onInstrumentSelected($event)"></app-midin-instrument-combo>
        </div>
      </td>
      <td>
        <!-- <input class="short-col" type="number" min="1" (change)="onChannelChange($event)" [(ngModel)]="pattern.channel"> -->

        <select id="channelSelect-{{pattern.id}}" [value]="pattern.channel" (change)="onChannelChange($event)">
          <option *ngFor="let ch of channels">{{ch + 1}}</option>
        </select>
      </td>
      <td>
        <input class="short-col" type="number" min="1" (change)="onPresetChange($event)" [(ngModel)]="pattern.preset">
      </td>
      <td>
        <input class="short-col" type="number" min="1" (change)="onRootNoteChange($event)"
          [(ngModel)]="pattern.rootNote">
      </td>
      <td>
        <!-- <input class="short-col" type="number" min="-4" max="4" (change)="onTransposeChange($event)"
          [(ngModel)]="pattern.transpose"> -->
        <select id="transposeSelect-{{pattern.id}}" [value]="pattern.transpose" (change)="onTransposeChange($event)">
          <option *ngFor="let option of getTransposeOptions()">{{option}}</option>
        </select>
      </td>
      <td>
        <input class="short-col" type="number" min="-12" max="12" (change)="onLengthChange($event)"
          [(ngModel)]="pattern.length">
      </td>
      <td>
        <!-- <select id="firstStepSelect-{{pattern.id}}" [value]="pattern.firstStep" (change)="onFirstStepChange($event)">
          <option *ngFor="let step of getStepOptions()">{{step + 1}}</option>
        </select> -->
        <input class="" type="number" min="1" max="pattern.length" (change)="onFirstStepChange($event)"
          [(ngModel)]="pattern.firstStep">

      </td>
      <td>
        <!-- <select id="lastStepSelect-{{pattern.id}}" [value]="pattern.lastStep" (change)="onLastStepChange($event)">
          <option *ngFor="let step of getStepOptions()">{{step + 1}}</option>
        </select> -->
        <input class="" type="number" min="1" max="pattern.length" (change)="onLastStepChange($event)"
          [(ngModel)]="pattern.lastStep">
      <td>
        <input class="short-col" type="number" min="0" max="100" (change)="onGateChange($event)"
          [(ngModel)]="pattern.gate">
      </td>
      <td>
        <input class="short-col" type="number" min="1" max="4" (change)="onSpeedChange($event)"
          [(ngModel)]="pattern.speed">
      </td>
      <td>
        <input class="short-col" type="number" min="0" (change)="onRepeatsChange($event)" [(ngModel)]="pattern.repeats">
      </td>
      <td>
        <input class="short-col" type="number" min="1" max={{pattern.length}} (change)="onSwingChange($event)"
          [(ngModel)]="pattern.swing">
      </td>
      <td>
        <input class="short-col" type="number" min="0" max="100" (change)="onRandomChange($event)"
          [(ngModel)]="pattern.random">
      </td>

      <td>
        <button ngClass="{{pattern.loop ? 'mini-btn loop' : 'mini-btn ready' }}" [style.height.px]="20"
          id="pattern-link-{{pattern.id}}" disabled="true">
          Li
        </button>
      </td>

    </tr>

  </table>
</div>
