<div class="flex-container-horizontal mg-2">
  <table class="tickerStatus-table">
    <tr>
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
      <td>Ticker</td>
      <td>Tick</td>
      <td>Beat</td>
      <td>Bar</td>
      <td>Part</td>

      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
      <td>Ticks</td>
      <td>BPM</td>
      <td>B/Bar</td>
      <td>ID</td>
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
    </tr>
    <tr *ngIf="tickerStatus != undefined">
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>

      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.id }}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.tick }}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ getTickerPosition() }}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.bar }}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.part }}">
      </td>
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
      <td>
        <form>
          <select class='ticker-param' placeholder="PPQ" [(ngModel)]="ppqSelectionIndex"
            name="ticker-ppq-{{tickerStatus.ticksPerBeat}}" (change)="onPPQSelectionChange()">
            <option *ngFor="let ppq of ppqs; let i = index;" [value]="i">
              {{ppq}}
            </option>
          </select>
        </form>

      </td>
      <td>
        <input class="ticker-param" type="number" (change)="onTempoChange($event)"
          value="{{ tickerStatus.tempoInBPM }}">
      </td>
      <td>
        <input class="ticker-param" type="number" (change)="onBeatsPerBarChange($event)"
          value="{{ tickerStatus.beatsPerBar }}">
      </td>
      <td>
        <input class="ticker-param" type="number" disabled="true" value="{{ tickerStatus.id }}">
      </td>
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
    </tr>
    <tr>
      <!--      <th *ngFor="let col of tickerStatusColumns;">{{col}}</th>-->
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>

      <td>Players</td>
      <td>Ticks</td>
      <td>Beats</td>
      <td>Bars</td>
      <td>Parts</td>
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
      <td>Bars</td>
      <td>Parts</td>
      <td>Length</td>
      <td>Offset</td>
      <!-- <td>BPM</td>
      <td>BPB</td> -->
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
    </tr>
    <tr *ngIf="tickerStatus != undefined">
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>

      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.playerCount }}">
      </td>

      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.tickCount }}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.beatCount }}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.barCount}}">
      </td>
      <td>
        <input class="fixed" type="number" disabled="true" value="{{ tickerStatus.partCount }}">
      </td>
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>


      <!-- <td>
        <form>
            <select class='ticker-param' placeholder="PPQ" [(ngModel)]="ppqSelectionIndex" name="ticker-ppq-{{tickerStatus.ticksPerBeat}}"
            (change)="onPPQSelectionChange($event)">
              <option *ngFor="let ppq of ppqs; let i = index;" [value]="i">
                {{ppq}}
              </option>
            </select>
        </form>
      </td> -->
      <td>
        <input class="ticker-param" type="number" (change)="onBarsChange($event)" value="{{ tickerStatus.bars }}">
      </td>
      <td>
        <input class="ticker-param" type="number" (change)="onPartsChange($event)" value="{{ tickerStatus.parts }}">
      </td>
      <td>
        <input class="ticker-param" type="number" (change)="onPartLengthChange($event)"
          value="{{ tickerStatus.partLength }}">
      </td>
      <td>
        <input class="ticker-param" type="number" disabled="true" value="{{ tickerStatus.noteOffset }}">
      </td>
      <!-- <td>
        <input class="ticker-param" type="number" disabled="true" min="1" max="127" step="1" value="{{ tickerStatus.parts }}">
      </td> -->
      <td *ngIf="tickerStatus.playing" class="active">
      </td>
      <td *ngIf="!tickerStatus.playing" class="inactive">
      </td>
    </tr>
  </table>

</div>
