<mat-tab-group (selectedIndexChange)="selectedIndexChange($event)">
  <mat-tab *ngFor="let pattern of song?.patterns;" [label]="getLabel(pattern)">
    <!-- <app-control-panel808 class="control-panel808"></app-control-panel808> -->
    <app-set-nav></app-set-nav>
    <app-beat-spec-detail *ngIf="song != undefined" [instruments]="instruments" [pattern]="pattern" [songId]="song.id"
      (instrumentSelectEvent)="onInstrumentSelected($event, pattern)" class=""></app-beat-spec-detail>
    <div class="interface-808">
      <!-- <div class="thumb-canvas-container">
      <canvas id="thumb-canvas" class="side-panel-808">
      </canvas>
      <canvas id="thumb-canvas" class="side-panel-808">
      </canvas>
    </div> -->
      <!-- <div class="side-panel-808-drum-pad">
          <app-drum-pad [selector]="true" class="pad-selector"></app-drum-pad>
        </div> -->
      <app-beat-spec-panel *ngFor="let step of pattern.steps; let index = index;" [pattern]="pattern"
        [swirling]="swirls.getItem(index)" [step]=step [instrument]="getInstrumentForStep(pattern, step)"
        (changeEvent)="onStepChanged(step)" (paramBtnClickEvent)="paramsBtnClicked($event)"></app-beat-spec-panel>
      <!-- <div class="flex-container-vertical">
        <mat-divider [style.height.px]="10" [inset]="true"></mat-divider>
        <app-drum-pad [selector]="true" class="pad-selector"></app-drum-pad>
        <app-drum-pad [selector]="true" class="pad-selector"></app-drum-pad>
        <app-drum-pad [selector]="true" class="pad-selector"></app-drum-pad>
        <app-drum-pad [selector]="true" class="pad-selector"></app-drum-pad>
      </div> -->
    </div>
    <!-- <app-params-panel808 class="control-panel808"></app-params-panel808> -->
  </mat-tab>
</mat-tab-group>
<!--<app-pads-panel></app-pads-panel>-->
<!--<app-drum-grid [channel]="10"></app-drum-grid>-->
<!-- <app-slider-panel [channel]="10"></app-slider-panel> -->
