<div class="stretch" [style.height.px]="500">
  <table>
    <thead>
      <tr class="header-row">
        <th class="header-cell col-device">MIDI Device</th>
        <th class="header-cell col-available">Available</th>
        <th class="header-cell col-channel">Channels</th>
        <th class="header-cell col-device">Device</th>
        <th class="header-cell col-number">Low</th>
        <th class="header-cell col-number">High</th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row" *ngFor="let ins of instruments;"
          (click)="onRowClick(ins)"
          [class.selected-row]="selectedInstrument === ins">
        <td [ngClass]="getRowClass(ins)">
          <input [value]="ins.name" (change)="updateName($event, ins)">
        </td>
        <td [ngClass]="getRowClass(ins)" class="center-content">
          <input type="checkbox" [checked]="ins.available" (change)="updateAvailable($event, ins)">
        </td>
        <td [ngClass]="getRowClass(ins)">
          <select [(ngModel)]="ins.channel">
            <option *ngFor="let ch of channels" [value]="ch + 1">{{ch + 1}}</option>
          </select>
        </td>
        <td [ngClass]="getRowClass(ins)">
          <select [(ngModel)]="ins.deviceName">
            <option *ngFor="let device of devices" [value]="device.name">{{device.name}}</option>
          </select>
        </td>
        <td [ngClass]="getRowClass(ins)">
          <input type="number" [value]="ins.lowestNote" (change)="updateLowNote($event, ins)">
        </td>
        <td [ngClass]="getRowClass(ins)">
          <input type="number" [value]="ins.highestNote" (change)="updateHighNote($event, ins)">
        </td>
      </tr>
    </tbody>
  </table>
</div>
