<mat-tab-group>
  <div *ngFor="let instrument of instruments;">
    <mat-tab *ngIf="instrument.controlCodes.length > 0" label="{{instrument.name}}">
      <div class="area-header">
        <h5>{{ instrument.name }}</h5>
      </div>
      <div class="slider-area">

        <div class="area-container">
          <div *ngFor="let panel of getPanelsForInstrument(instrument.name)">
            <div class="area" *ngIf="!panel.startsWith('Other')">
              <div class="area-content">
                <div class="area-header">
                  <h5 class="control-code-label">{{ panel }}</h5>
                </div>

                <div class="short-control">
                  <div *ngFor="let controlCode of getControlCodes(instrument, panel);  let index = index">
                    <div *ngIf="controlIsBinary(controlCode) || controlIsShortRange(controlCode)" class="area">
                      <div class="area-control">
                        <div *ngIf="controlIsBinary(controlCode)">
                          <label>
                            {{controlCode.name.replace(panel, '')}}
                          </label>
                          <input type="checkbox" />
                        </div>

                        <div class="flex-container-horizontal w-200" *ngIf="controlIsShortRange(controlCode)">
                          <div class="flex-container-vertical">
                            <label class="control-code-label">
                              {{controlCode.name.replace(panel, '')}}
                            </label>
                            <select name="{{controlCode.id + '-' + 'select'}}" class="area-select" id="{{controlCode.id + '-' + 'select'}}"
                              name="{{controlCode.id + '-' + 'select'}}">
                              <!-- <label for="{{controlCode.name}}">{{caption.description}}</label><br> -->
                              <option *ngFor="let caption of controlCode.captions" value="{{caption.code}}">
                                {{caption.description.replace(panel, '')}}</option>
                            </select>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>

                <div class="area" *ngFor="let controlCode of getControlCodes(instrument, panel);  let index = index">
                  <div class="area-controls">
                    <div class="area-control">
                      <app-midi-knob *ngIf="controlIsWideRange(controlCode)" [index]="index" [instrument]="instrument"
                        [name]="controlCode.name" [cc]="controlCode.code" [panel]="panel"></app-midi-knob>

                    </div>
                  </div>
                </div>

              </div>
            </div>
          </div>
          <div *ngFor="let panel of getPanelsForInstrument(instrument.name)">
            <div class="area" *ngIf="panel.startsWith('Other')">
              <div class="area-content">
                <div class="area-header">
                  <h5>{{ panel }}</h5>
                </div>
                <div class="area-controls"
                  *ngFor="let controlCode of getOtherControlCodes(instrument.name); let index = index;">
                  <div class="area-control">
                    <div class="p-field p-col-12 p-md-4">
                      <app-midi-knob [index]="index" [instrument]="instrument" [name]="controlCode"
                        [panel]="panel"></app-midi-knob>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </mat-tab>
  </div>
</mat-tab-group>
