<!-- <label>Ports</label>
<app-device-table [devices]="ports"></app-device-table>
<label>Softsynths</label>
<app-device-table [devices]="synths"></app-device-table> -->
<div class="flex-container-vertical">
  <div class="header-div">
    <span>System</span>
  </div>
  <app-device-table [devices]="devices"></app-device-table>
  <div class="header-div">
    <span>MIDI Devices</span>
  </div>
  <div class="local"></div>
  <div class="grid-3">
    <app-instrument-table (instrumentSelectEvent)="onInstrumentSelected($event)" [devices]="ports"
      [instruments]="instruments"></app-instrument-table>
    <app-control-codes-table (controlCodeEvent)="onControlCodeSelected($event)"
      [instrument]="selectedInstrument"></app-control-codes-table>
    <app-captions-table [controlCode]="selectedControlCode"></app-captions-table>
  </div>
</div>
