
<div>
  <div class="control-header">
    <app-channel-selector
      [channel]="channel"
      (channelSelectEvent)="onSelect($event)"
    ></app-channel-selector>
  </div>

  <div *ngFor="let row of rows" class="pad-container">
    <div *ngFor="let drum of row; let index = index" class="grid-item">
      <app-drum-pad
        *ngIf="instrument != undefined && instrument.channel != undefined"
        [channel]="channel"
        [instrument]="instrument"
        [note]="getNote(row, index)"
        [name]="drum"
      >
      </app-drum-pad>
    </div>
  </div>
</div>
