<div class="beat-navigator">
  <!-- <app-midin-instrument-combo class="wide-combo" [instruments]="instruments" [identifier]="comboId"
    (instrumentSelectEvent)="onInstrumentSelected($event)"></app-midin-instrument-combo> -->
  <div class="flex-container-horizontal">
    <button class="{{getNoteButtonClass(note)}}" *ngFor="let note of range; let i = index;" id="beat-nav-note-btn-{{i}}"
      (click)="onNoteClicked(note, $event)">{{getNote(note)}}</button>
  </div>

<div class="flex-container-horizontal">
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3 c-white" (click)="toggleNewPartOnSum()">AP</button>
    <button class="mini-btn pad-16 c-white">13</button>
    <button class="mini-btn pad-16 c-white">9</button>
    <button class="mini-btn pad-16 c-white">5</button>
    <button class="mini-btn pad-16 c-white">1</button>
    <button class="mini-btn pad-2 c-white">=</button>
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3 c-white" (click)="testWebSocket()">W</button>
    <button class="mini-btn mini-control-bt  pad-16 c-white">14</button>
    <button class="mini-btn pad-16 c-white">10</button>
    <button class="mini-btn pad-16 c-white">6</button>
    <button class="mini-btn pad-16 c-white">2</button>
    <button class="mini-btn pad-2 c-white">%</button>
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3" [disabled]="true"></button>
    <button class="mini-btn pad-16 c-white">15</button>
    <button class="mini-btn pad-16 c-white">11</button>
    <button class="mini-btn pad-16 c-white">7</button>
    <button class="mini-btn pad-16 c-white">3</button>
    <button class="mini-btn pad-2 c-white">
      < </button>
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3" [disabled]="true"></button>
    <button class="mini-btn pad-16 c-white">16</button>
    <button class="mini-btn pad-16 c-white">12</button>
    <button class="mini-btn pad-16 c-white">8</button>
    <button class="mini-btn pad-16 c-white">4</button>
    <button class="mini-btn pad-2 c-white">
      >
    </button>
  </div>

  <div class="flex-container-vertical">
    <button class="mini-btn pad-3 c-white" [disabled]="true"></button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(2, ticks, resolution[1])">½</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(2, divs, resolution[2])">½</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(2, beats, resolution[3])">½</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(2, bars, resolution[4])">½</button>
    <button class="mini-btn pad-12 c-white" [disabled]="true"></button>
    <!-- <button class="mini-btn mini-control-btn" (click)="toggleInterval(2, parts, resolution[5])">2</button> -->
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3 c-white" [disabled]="true"></button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(3, ticks, resolution[1])">⅓</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(3, divs, resolution[2])">⅓</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(3, beats, resolution[3])">⅓</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(3, bars, resolution[4])">⅓</button>
    <button class="mini-btn pad-12 c-white" [disabled]="true"></button>
    <!-- <button class="mini-btn mini-control-btn" (click)="toggleInterval(3, parts, resolution[5])">3</button> -->
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3 c-white" [disabled]="true"></button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(4, ticks, resolution[1])">¼</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(4, divs, resolution[2])">¼</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(4, beats, resolution[3])">¼</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(4, bars, resolution[4])">¼</button>
    <button class="mini-btn pad-12 c-white" [disabled]="true">↯</button>
    <!-- <button class="mini-btn mini-control-btn" (click)="toggleInterval(4, parts, resolution[5])">4</button> -->
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-3 c-white" [disabled]="true"></button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(8, ticks, resolution[1])">⅛</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(8, divs, resolution[2])">⅛</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(8, beats, resolution[3])">⅛</button>
    <button class="mini-btn pad-10 c-white" (click)="toggleInterval(8, bars, resolution[4])">⅛</button>
    <button class="mini-btn pad-12 c-white" (click)="generate()">∑</button>
    <!-- <button class="mini-btn mini-control-btn" (click)="toggleInterval(8, parts, resolution[5])">8</button> -->
  </div>
  <div class="flex-container-vertical">
    <button class="mini-btn pad-8 c-white" [disabled]="true">A</button>
    <button class="mini-btn pad-8 c-white" [disabled]="true">T</button>
    <button class="mini-btn pad-8 c-white" [disabled]="true">F</button>
    <button class="mini-btn pad-8 c-white" [disabled]="true">Bt</button>
    <button class="mini-btn pad-8 c-white" [disabled]="true">Br</button>
    <button class="mini-btn pad-8 c-white" [disabled]="true">Pt</button>
  </div>

  <div class="flex-container-vertical">
    <app-button-panel [identifier]=resolution[0] [colCount]="colCount + 1"
      (buttonClickedForCommandEvent)="commandSelected($event, 0)" [symbols]="getAccentsAsStrings()"></app-button-panel>

    <app-button-panel [identifier]=resolution[1] [colCount]="colCount + 1"
      (buttonClickedForCommandEvent)="commandSelected($event, 1)" (buttonClickedForIndexEvent)="tickSelected($event)"
      [symbols]="getTicksAsStrings()"></app-button-panel>

    <app-button-panel [identifier]=resolution[2] [colCount]="colCount + 1"
      (buttonClickedForCommandEvent)="commandSelected($event, 2)" (buttonClickedForIndexEvent)="divSelected($event)"
      [symbols]="getDivsAsStrings()"></app-button-panel>

    <app-button-panel [indicators]="beatIndicators" [identifier]=resolution[3] [colCount]="colCount + 1"
      (buttonClickedForCommandEvent)="commandSelected($event, 3)" (buttonClickedForIndexEvent)="beatSelected($event)"
      [symbols]="getBeatsAsStrings()"></app-button-panel>

    <app-button-panel [indicators]="barIndicators" [identifier]=resolution[4] [colCount]="colCount + 1"
      (buttonClickedForCommandEvent)="commandSelected($event, 4)" (buttonClickedForIndexEvent)="barSelected($event)"
      [symbols]="getBarsAsStrings()"></app-button-panel>

    <app-button-panel [indicators]="partIndicators" [identifier]=resolution[5] [colCount]="colCount + 1"
      (buttonClickedForCommandEvent)="commandSelected($event, 5)" (buttonClickedForIndexEvent)="partSelected($event)"
      [symbols]="getPartsAsStrings()"></app-button-panel>
  </div>
</div>
