<div class="table-container">
  <div class="button-bar">
    <button mat-button (click)="onClick('rule-add')" tabindex="0">
      ➕
    </button>
    <button mat-button (click)="onClick('rule-remove')" tabindex="0">
      ➖
    </button>
    <button mat-button (click)="onClick('rule-clear')" tabindex="0">
      🧹
    </button>
  </div>
  <div class="table-wrapper">
    <div>
      <table>
        <tr>
          <th></th>
          <th></th>
          <th *ngFor="let col of ruleCols">
            {{ col}}
          </th>
        </tr>

        <tr class="active-table-row" *ngFor="let rule of player?.rules;" (mouseenter)="onPass(rule)" (click)="onRowClick(rule)">
          <!-- <td class="shortest-col">{{rule.id}}</td> -->
          <td>
            <button [style.height.px]="20" id="add" (click)="btnClicked(rule, 'rule-add')">+</button>
          </td>
          <td>
            <button [style.height.px]="20" id="remove" (click)="btnClicked(rule, 'rule-remove')">-</button>
          </td>
          <td>
            <form>
              <select id="operatorSelect-{{rule.id}}" [value]="OPERATOR[rule.operator]"
                      (change)="onOperatorChange(rule, $event)">
                <option *ngFor="let opt of OPERATOR" [value]="opt">{{opt}}</option>
              </select>
            </form>
          </td>
          <td>
            <form>
              <select id="comparisonSelect-{{rule.id}}" [value]="COMPARISON[rule.comparison]"
                      (change)="onComparisonChange(rule, $event)">
                <option *ngFor="let opt of COMPARISON" [value]="opt">{{opt}}</option>
              </select>
            </form>
          </td>
          <td class="shortest-col">
            <input type="number" step=interval value={{rule.value}} (change)="onValueChange(rule, $event)"
                   minlength="4" maxlength="8" size="10">
          </td>
          <td class="shortest-col">
            <input type="number" step="1" value={{rule.part}} (change)="onPartChange(rule, $event)"
                   minlength="4" maxlength="8" size="10">
          </td>
        </tr>
        <!-- <tr *ngIf="player == undefined || player.rules.length == 0">
          <td class="shortest-col">
          </td>
          <td class="shortest-col">
          </td>
          <td class="shortest-col">
          </td>
          <button *ngIf="player != undefined" [style.height.px]="20" id="add2" (click)="initBtnClick()">+</button>
          <td class="shortest-col">
          </td>
          <div *ngIf="player == undefined" [style.height.px]="20"></div> -->
          <!-- <td>
          </td>
          <td class="shortest-col">
          </td> -->
        <!-- </tr> -->
      </table>
    </div>
  </div>
</div>
