<div class="pads-panel">
  <app-channel-selector></app-channel-selector>
  <div>
    <div *ngFor="let row of rows;">
      <div *ngFor="let col of row; let index = index;" class="grid-item">
              <app-drum-pad
                *ngIf="instrument != undefined && instrument.channel != undefined"
                [channel]="channel"
                [instrument]="instrument"
                [note]="getNote(row, index)"
                [name]="col">
              </app-drum-pad>
      </div>
    </div>
  </div>
</div>
